@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.section_1 .heading_1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 2px rgba(198, 198, 198, 0.64);
}

.section_3 h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section_3 p {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section_5 h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section_6 h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section_6 p {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
