.menu__link::before {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #ac0672;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: width 0.4s;
}

.menu__link:hover::before {
  width: 100%;
}

.menu {
  background-color: rgba(255, 255, 255, 0.365);
  backdrop-filter: blur(5px);
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
  opacity: 0;
  pointer-events: none; 
}
